.sort-container {
  margin-bottom: 10px;
}

.sort-container select {
  padding: 5px;
  font-size: 14px;
}

.food-display {
    margin-top: 30px;
    padding: 0 20px;
}

.food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
    color: #262626;
    text-align: center;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

/* Tablet View */
@media (max-width: 768px) {
    .food-display h2 {
        font-size: 22px;
    }

    .food-display-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        row-gap: 40px;
    }
}

/* Mobile View */
@media (max-width: 480px) {
    .food-display h2 {
        font-size: 20px;
    }

    .food-display-list {
        grid-template-columns: 1fr; /* Single column layout for small screens */
        gap: 20px;
        row-gap: 30px;
    }
}
